=breadcrumb_tag do
  %li
    Администрирование
  %li
    = link_to 'Пользователи', users_path
  %li
    = link_to(@user.email, @user)
  %li.active
    = t('headers.users.edit')

.page-header
  %h1= t('headers.users.edit')

= render 'form'
