= form_for @route do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :rname
    = f.text_field :rname
  .field
    = f.label :city
    = f.select(:city_id,
      options_for_select(City.all.pluck('cname, id'), f.object.city_id),
      {}, class: 'form-control')
  .field
    = f.label :rdesc
    = f.text_area :rdesc
  .field
    = f.label :rprice
    = f.number_field :rprice
  .form-actions.bottom10
    = f.submit nil, class: 'btn btn-primary'
