=breadcrumb_tag do
  %li
    Экскурсионные туры
  %li.active
    Маршруты

.page-header
  %h1= t('headers.routes.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_route_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.route')
  %thead
    %tr
      %th= Route.human_attribute_name(:rname)
      %th= Route.human_attribute_name(:city)
      %th= Route.human_attribute_name(:rdesc)
      %th= Route.human_attribute_name(:rprice)
      %th
  %tbody
    - @routes.each do |route|
      %tr
        %td.center= route.rname
        %td.center= route.city.cname
        %td.center= route.rdesc
        %td.center= route.rprice
        %td.right
          = link_to route, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_route_path(route), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to route, :method => :delete,
          :data => { :confirm => t('buttons.confirm.route') },
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')

