=breadcrumb_tag do
  %li
    Экскурсионные туры
  %li
    = link_to 'Маршруты', routes_path
  %li.active
    = @route.rname

%h1= @route.rname

%dl
  %dt= Route.human_attribute_name(:rname)
  %dd= @route.rname
  %dt= Route.human_attribute_name(:city)
  %dd= @route.city.cname
  %dt= Route.human_attribute_name(:rdesc)
  %dd= @route.rdesc
  %dt= Route.human_attribute_name(:rprice)
  %dd= @route.rprice
