=breadcrumb_tag do
  %li
    Экскурсионные туры
  %li.active
    Города

.page-header
  %h1= t('headers.cities.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_city_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.city')
  %thead
    %tr
      %th= City.human_attribute_name(:cname)
      %th
  %tbody
    - @cities.each do |city|
      %tr
        %td.center= city.cname
        %td.right
          = link_to city, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          = link_to edit_city_path(city), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to city, :method => :delete,
          :data => { :confirm => t('buttons.confirm.city') },
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')

