=breadcrumb_tag do
  %li
    Экскурсионные туры
  %li
    = link_to 'Города', cities_path
  %li.active
    = @city.cname

%h1= @city.cname

%dl
  %dt= City.human_attribute_name(:cname)
  %dd= @city.cname
