= form_for @excursion do |f|
  = error_messages_for @excursion
  .row
    .col-md-6
      .form-group
        = f.label :ename
        = f.text_field :ename, class: 'form-control'
        = f.error_messages_for(:ename)
    .col-md-6
      .form-group
        = f.label :eprice
        = f.number_field :eprice, class: 'form-control'
        = f.error_messages_for(:eprice)
  .row
    .col-md-6
      .form-group
        = f.label :city
        - if @excursion.new_record?
          = f.select :city_id, City.all.map{|c| [c.cname, c.id]},
            {:include_blank => 'Выбрать город'}, {class: 'form-control'}
        - else
          = f.select :city_id, City.all.map{|c| [c.cname, c.id]},
            {}, {class: 'form-control'}
        = f.error_messages_for(:city_id)
    .col-md-6
      .form-group
        = f.label :edesc
        = f.text_area :edesc, class: 'form-control'
        = f.error_messages_for(:edesc)
  .row
    - if @excursion.present?
      = f.fields_for(:city) do |fr|
        = render('cities/city_form', fr: fr, i: 1) 
    - if @excursion.new_record?
      = link_to_add_city(f)
  .form-actions.bottom10
    = f.submit nil, class: 'btn btn-primary'
